In [1]:
import pandas as pd
import re
import sklearn

In [2]:
# Muat data
ceramic = pd.read_csv('Chemical_Composion_of_Ceramic.csv')
ceramic

,Ceramic Name,Part,Na2O,MgO,Al2O3,SiO2,K2O,CaO,TiO2,Fe2O3,MnO,CuO,ZnO,PbO2,Rb2O,SrO,Y2O3,ZrO2,P2O5
0,FLQ-1-b,Body,0.62,0.38,19.61,71.99,4.84,0.31,0.07,1.18,630,10,70,10,430,0,40,80,90
1,FLQ-2-b,Body,0.57,0.47,21.19,70.09,4.98,0.49,0.09,1.12,380,20,80,40,430,-10,40,100,110
2,FLQ-3-b,Body,0.49,0.19,18.60,74.70,3.47,0.43,0.06,1.07,420,20,50,50,380,40,40,80,200
3,FLQ-4-b,Body,0.89,0.30,18.01,74.19,4.01,0.27,0.09,1.23,460,20,70,60,380,10,40,70,210
4,FLQ-5-b,Body,0.03,0.36,18.41,73.99,4.33,0.65,0.05,1.19,380,40,90,40,360,10,30,80,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,DY-M-3-g,Glaze,0.34,0.55,12.37,70.70,5.33,8.06,0.06,1.61,1250,10,90,30,250,520,30,140,690
84,DY-QC-1-g,Glaze,0.72,0.34,12.20,72.19,6.19,6.06,0.04,1.27,1700,60,110,10,270,540,40,120,630
85,DY-QC-2-g,Glaze,0.23,0.24,12.99,71.81,5.25,7.15,0.05,1.29,750,40,100,0,240,470,40,120,480
86,DY-QC-3-g,Glaze,0.14,0.46,12.62,69.16,4.34,11.03,0.05,1.20,920,40,90,20,230,470,40,130,1100
87,DY-QC-4-g,Glaze,0.14,0.63,14.25,71.55,4.87,6.43,0.08,1.05,800,40,90,20,220,410,40,110,690

In [3]:
# Pre-proses data:
# * Datanya sudah diklasifikasi pada nama keramiknya, jadi pisahkan namanya.
# * Konsentrasi Na2O, MgO, Al2O3, SiO2, K2O, CaO, TiO2, dan Fe2O3 yang diberikan
#   adalah dalam Berat Persen (Wt%), jadi nilai ini harus diubah ke PPM
name_pattern = re.compile(r"([\w\-]+)\-\d+\-[b|g]")
ceramic_convert = ['Na2O', 'MgO', 'Al2O3', 'SiO2', 'K2O', 'CaO', 'TiO2', 'Fe2O3']

ceramic_id = []
ceramic_type = []
ceramic_new_cont = {}
ceramic_count = 1

for i in ceramic.iloc:
    regex_match = name_pattern.match(i['Ceramic Name'])
    ceramic_type.append(regex_match.group(1))
    ceramic_id.append(ceramic_count)
    ceramic_count = ceramic_count + 1
    for j in ceramic_convert:
        ceramic_new_cont[j] = int(i[j] * 10000)

ceramic_processed = ceramic.copy()
ceramic_processed.insert(0, 'ID', ceramic_id)
ceramic_processed.insert(2, 'Type', ceramic_type)
ceramic_processed.drop('Ceramic Name', axis=1, inplace=True)

for i in ceramic_convert:
    ceramic_processed[i] = (ceramic_processed[i] * 10000).astype('int')

In [4]:
# Tampilkan data yang sudah di preproses
ceramic_processed

,ID,Type,Part,Na2O,MgO,Al2O3,SiO2,K2O,CaO,TiO2,Fe2O3,MnO,CuO,ZnO,PbO2,Rb2O,SrO,Y2O3,ZrO2,P2O5
0,1,FLQ,Body,6200,3800,196100,719900,48400,3100,700,11800,630,10,70,10,430,0,40,80,90
1,2,FLQ,Body,5699,4700,211900,700900,49800,4900,900,11200,380,20,80,40,430,-10,40,100,110
2,3,FLQ,Body,4900,1900,186000,747000,34700,4300,600,10700,420,20,50,50,380,40,40,80,200
3,4,FLQ,Body,8900,3000,180100,741900,40100,2700,900,12300,460,20,70,60,380,10,40,70,210
4,5,FLQ,Body,300,3600,184100,739900,43300,6500,500,11900,380,40,90,40,360,10,30,80,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,84,DY-M,Glaze,3400,5500,123699,707000,53300,80600,600,16100,1250,10,90,30,250,520,30,140,690
84,85,DY-QC,Glaze,7200,3400,122000,721900,61900,60599,400,12700,1700,60,110,10,270,540,40,120,630
85,86,DY-QC,Glaze,2300,2400,129900,718100,52500,71500,500,12900,750,40,100,0,240,470,40,120,480
86,87,DY-QC,Glaze,1400,4600,126199,691600,43400,110300,500,12000,920,40,90,20,230,470,40,130,1100
87,88,DY-QC,Glaze,1400,6300,142500,715500,48700,64300,800,10500,800,40,90,20,220,410,40,110,690